apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
spec:
  securityContext: 
    runAsUser: 0
    runAsGroup: 0
  containers:
  - name: {{ pod_name }}-container
    image: grafana/k6:latest
    command: ["k6", "run", "--duration", "{{ duration }}", "--quiet", "/chaos-eater/{{ script_path }}"]
    volumeMounts:
      - name: pvc-volume
        mountPath: /chaos-eater
  restartPolicy: Never
  volumes:
    - name: pvc-volume
      persistentVolumeClaim:
        claimName: pvc