apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  namespace: chaos-eater
  name: super-user
rules:
- apiGroups: ["*"] # all api groups
  resources: ["*"] # all resources
  verbs: ["*"]     # all command (get, list, create, update, delete, etc.)

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  namespace: chaos-eater
  name: super-user-binding
subjects:
- kind: ServiceAccount
  name: default
  namespace: chaos-eater
roleRef:
  kind: ClusterRole
  name: super-user
  apiGroup: rbac.authorization.k8s.io