apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
spec:
  containers:
  - name: {{ pod_name }}-container
    image: chaos-eater/k8sapi:1.0
    imagePullPolicy: IfNotPresent
    command: ["/bin/bash", "-c"]
    args: ["python /chaos-eater/{{ script_path }} --duration {{ duration }}"]
    volumeMounts:
      - name: pvc-volume
        mountPath: /chaos-eater
  restartPolicy: Never
  volumes:
    - name: pvc-volume
      persistentVolumeClaim:
        claimName: pvc